<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are  by default assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="com.conveyal.osmlib" level="INFO" />
    <logger name="com.conveyal.gtfs" level="INFO" />
    <logger name="com.conveyal.r5.profile.ExecutionTimer" level="INFO"/>
    <logger name="graphql.GraphQL" level="WARN" />
    <logger name="org.mongodb.driver.connection" level="WARN" />
    <logger name="org.eclipse.jetty" level="WARN" />
<!--    <logger name="com.conveyal.r5.profile.FastRaptorWorker" level="DEBUG" />-->
<!--    <logger name="com.conveyal.r5.analyst.TravelTimeComputer" level="DEBUG" />-->
<!--    <logger name="com.conveyal.r5.streets.StreetRouter" level="DEBUG" />-->
<!--    <logger name="com.conveyal.r5.transit.TransportNetworkCache" level="DEBUG" />-->
<!--    <logger name="com.conveyal.analysis.controllers.BrokerController" level="DEBUG" />-->
<!--    <logger name="com.conveyal.analysis.components.LocalWorkerLauncher" level="DEBUG" />-->
<!--    <logger name="com.conveyal.analysis.components.LocalBackendComponents" level="DEBUG" />-->
<!--    <logger name="com.conveyal.r5.analyst.LinkageCache" level="DEBUG" />-->
<!--    <logger name="com.conveyal.r5.analyst.NetworkPreloader" level="DEBUG" />-->
</configuration>